<style>
.entry-cover img:not([width]) { aspect-ratio: 1490 / 1117; width: 100%; height: auto; }
</style>
<link rel="alternate" hreflang="ru" href="{{ .Permalink }}">
<link rel="manifest" href="/manifest.json">
{{- $author := .Params.author | default site.Params.author }}
{{- with $author }}
<meta name="author" content="{{ . }}">
{{- end }}
{{- with (templates.Defer (dict "key" "pagination-noindex")) }}
  {{- with .Page.Paginator }}
    {{- if gt .PageNumber 1 }}
<meta name="robots" content="noindex, follow">
    {{- end }}
  {{- end }}
{{- end }}
